---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// CAP-Leasing
$darkgray: #212121;
$black: #000000;
$lightgreen: #00a99d;
$midgray: #333333;


// Our variables
$text-color:       #626262;
$background-color: #ffffff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
        "footer",
        "vendor/owl.carousel",
        "vendor/owl.transitions",
        "slider",
        "general",
        "stats",
        "team",
        "priseksempel",
        "showroom",
        "kontakt"
;
