<footer class="site-footer">
    <div class="logo">
        <span class="dominant">CAP</span>
        <span class="elegant">leasing</span>
    </div>
    <ul class="social list-inline">
        <li><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
        <li><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
        <li><a href="#"><i class="icon ion-social-linkedin-outline"></i></a></li>
    </ul>
    <span class="copyright">© Copyright 2015. CAP-Leasing.</span>
</footer>
