<header id="header">
	<nav class="navbar navbar-inverse navbar-fixed-top before-color">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand candiman" id="top-logo" href="#header"><span class="dominant">CAP</span><span class="elegant">leasing</span></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse" style="max-height: 671px;">
				<ul class="nav navbar-nav navbar-right scroll-to">
					<li><a href="#omos">OM OS</a></li>
					<li><a href="#team">TEAMET</a></li>
					<li><a href="#priseksempel">PRISER</a></li>
					<li><a href="#showroom">SHOWROOM</a></li>
					<li><a href="#kontakt">KONTAKT</a></li>                      
				</ul>
			</div>
		</div>
	</nav>
</header>
