<section id="kontakt">
	<div class="parallax-window" data-parallax="scroll" data-image-src="images/garage.jpg">
		<form name="contact" class="contact-form" id="contactForm" method="post" netlify>
			<h3>Kontakt os</h3>
			<div class="row">
				<div class="col-md-12">
					<div class="row control-group">
						<div class="form-group col-xs-12 controls">
	
							<input name="navn" type="text" class="form-control" placeholder="Navn" id="name" required="" data-validation-required-message="Indtast venligst dit navn">
							<p class="help-block"></p>
						</div>
					</div>
	
				</div>
	
				<div class="col-md-12">
					<div class="row control-group">
						<div class="form-group col-xs-12 controls">
	
							<input name="email" type="email" class="form-control" placeholder="Email Addresse" id="email" required="" data-validation-required-message="Indtast venligst din email addresse">
							<p class="help-block"></p>
						</div>
					</div> 
				</div>
			</div>
			<div class="row control-group">
				<div class="form-group col-xs-12  controls">
	
					<input type="tel" name="telefon" class="form-control" placeholder="Telefon nummer" id="phone" required="" data-validation-required-message="Indtast venligst dit telefonnummer">
					<p class="help-block"></p>
				</div>
			</div>
			<div class="row control-group">
				<div class="form-group col-xs-12 controls">
	
					<textarea rows="5" name="besked" class="form-control" placeholder="Besked" id="message" required="" data-validation-required-message="Indtast venligst en besked"></textarea>
					<p class="help-block"></p>
				</div>
			</div>
			<br>
			<div id="success"></div>
			<div class="row">
				<div class="form-group col-xs-12 text-right">
					<button type="submit" class="btn btn-white btn-lg">Send Besked</button>
				</div>
			</div>
			
		</form>
	</div>
	
</section>
<script>
	$(function(){
		$('#contactForm').submit(function(event){
			event.preventDefault();
			$.post( "thank-you", $( "#contactForm" ).serialize(), function(data){
				console.log(data);
			} );
		});
	});
</script>