<article class="midGray" id="omos">
	<div class="container">
		<div class="col-md-12">
			<div class="header">
				<div class="header-text">
					<span class="dominant">CAP</span><span class="elegant">leasing</span>
				</div>
                <span class="border-line"></span>
				<p class="header-description">
					Cap-Leasing har kontor i hjertet af København - Vi går op i at levere biler med sjæl til den kræsne forbruger for en overkommelig pris
				</p>
			</div>
			
			<div class="container-fluid">
				<div class="row">
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap clearfix">
                            <div class="left-side-icon">
                                <i class="ion-ios-lightbulb-outline front-icon"></i>
                                <i class="ion-ios-lightbulb-outline back-icon"></i>
                            </div>
                            <div class="features-text-right">
                                <h3>PÆREN ER I ORDEN</h3>                         
                                <p>
                                    Alle vores biler bliver leveret nysynet og komplet gennemgået af vores grundige klargørings eksperter - Vi leverer den derefter direkte på din adresse!
                                </p>
                            </div>
                        </div><!--features icon wrap-->
                    </div><!--features col-->
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap clearfix">
                            <div class="left-side-icon">
                                <i class="ion-ios-gear-outline front-icon"></i>
                                <i class="ion-ios-gear-outline back-icon"></i>
                            </div>
                            <div class="features-text-right">
                                <h3>Under hjelmen</h3>                         
                                <p>
                                    For at sikre at bilen lever op til vores høje kvalitets krav bliver den testet på en af vores testcentre
                                </p>
                            </div>
                        </div><!--features icon wrap-->
                    </div><!--features col-->
                </div>
				
				<div class="row">
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap clearfix">
                            <div class="left-side-icon">
                                <i class="ion-iphone front-icon"></i>
                                <i class="ion-iphone back-icon"></i>
                            </div>
                            <div class="features-text-right">
                                <h3>Vi er der for dig</h3>                         
                                <p>
                                    Vores rågivere er klar på telefonen til at skræddersy dit næste bilkøb. Vi kan med garanti både inspirere og hjælpe dig på vej
                                </p>
                            </div>
                        </div><!--features icon wrap-->
                    </div><!--features col-->
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap clearfix">
                            <div class="left-side-icon">
                                <i class="ion-ios-people-outline front-icon"></i>
                                <i class="ion-ios-people-outline back-icon"></i>
                            </div>
                            <div class="features-text-right">
                                <h3>DEDIKERET TIL VORES KUNDER</h3>                         
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                            </div>
                        </div><!--features icon wrap-->
                    </div><!--features col-->
                </div>
				
			</div>
			
		</div>
	</div>
</article>