<article class="midGray" id="priseksempel">
    <div class="header">
        <div class="header-text">
            <span class="dominant">CAP</span> <span class="dominant textGreen">&nbsp;PRISEKSEMPEL</span>
        </div>
        <span class="border-line"></span>
        <p class="header-description">
            Ingen skjulte omkostninger eller komplicerede kontrakter
        </p>
    </div>

    <div class="container">
        <div class="row">
            {% for post in site.posts limit:3 %}
            <div class="col-sm-4 margin-bottom30">
                <div class="price-box text-center">
                    <div class="car-price-container">
                        <div class="car-image" style="background-image: url('{{post.billede_1}}')"></div>
                    </div>
                    {% if forloop.index != 2 %}
                            <div class="header ">
                    {% else %}
                            <div class="header active">
                    {% endif %}
                    
                        <h3>{{post.title}}</h3>
                        <div class="price">
                            <h2>{{post.maanedlig_ydelse | tusinde }} kr.</h2>
                            <span>Månedlig ydelse</span>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li>Førstegangsydelse: {{post.foerstegangsydelse | tusinde }}</li>
                        <li>Kilometer: {{post.kilometer | tusinde }}</li>
                        <li>Motor: {{post.volumen}}</li>
                        <li>Gear: {{post.gear}}</li>
                        <li>Farve: {{post.farve}}</li>
                    </ul>
                    <div class="price-footer">
                        {% if forloop.index != 2 %}
							 <h4><a href="#" class="btn btn-white priseks" data-url="{{ post.url | prepend: site.baseurl }}">Showroom</a></h4>
                        {% else %}
                             <h4><a href="#" class="btn btn-border-theme priseks" data-url="{{ post.url | prepend: site.baseurl }}">Showroom</a></h4>
						{% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</article>