<article class="black" id="showroom">
    <div class="header">
        <div class="header-text">
            <span class="dominant">CAP</span> <span class="dominant textGreen">&nbsp;SHOWROOM</span>
        </div>
        <span class="border-line"></span>
        <p class="header-description">
            Der bliver kælet for hver enkelt bil i vores showroom
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="car-container" data-id="car-1">
                    <div class="car-image" style="background-image: url('images/biler/porsche.png')"></div>
                    <div class="car-text">
                        <div class="title">MERCEDES C220</div>
                        <div class="price">3.150</div>
                        <div class="element">Månedlig ydelse</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="car-container" data-id="car-1">
                    <div class="car-image" style="background-image: url('images/biler/porsche.png')"></div>
                    <div class="car-text">
                        <div class="title">MERCEDES C220</div>
                        <div class="price">3.150</div>
                        <div class="element">Månedlig ydelse</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="car-container" data-id="car-1">
                    <div class="car-image" style="background-image: url('images/biler/porsche.png')"></div>
                    <div class="car-text">
                        <div class="title">MERCEDES C220</div>
                        <div class="price">3.150</div>
                        <div class="element">Månedlig ydelse</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="car-container" data-id="car-1">
                    <div class="car-image" style="background-image: url('images/biler/porsche.png')"></div>
                    <div class="car-text">
                        <div class="title">MERCEDES C220</div>
                        <div class="price">3.150</div>
                        <div class="element">Månedlig ydelse</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="car-container" data-id="car-1">
                    <div class="car-image" style="background-image: url('images/biler/porsche.png')"></div>
                    <div class="car-text">
                        <div class="title">MERCEDES C220</div>
                        <div class="price">3.150</div>
                        <div class="element">Månedlig ydelse</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="car-container" data-id="car-1">
                    <div class="car-image" style="background-image: url('images/biler/porsche.png')"></div>
                    <div class="car-text">
                        <div class="title">MERCEDES C220</div>
                        <div class="price">3.150</div>
                        <div class="element">Månedlig ydelse</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>