<div class="slider-container">
  <div id="cl-slider" class="owl-carousel owl-theme">
    <div class="item" style="background-image: url(images/bmw.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
    <div class="item" style="background-image: url(images/mercedes.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
    <div class="item" style="background-image: url(images/1.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
    <div class="item" style="background-image: url(images/2.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
    <div class="item" style="background-image: url(images/3.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
    <div class="item" style="background-image: url(images/4.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
    <div class="item" style="background-image: url(images/5.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
  </div>
</div>