<div class="slider-container">
  <div id="cl-slider" class="owl-carousel owl-theme">
    <div class="item" style="background-image: url(images/s1.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
    <div class="item" style="background-image: url(images/s3.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
    <div class="item" style="background-image: url(images/s7.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
   
    <div class="item" style="background-image: url(images/s5.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
    <div class="item" style="background-image: url(images/s6.jpg);">
      <div class="logo">
        <span class="gray"><span class="dominant">CAP</span><span class="elegant">leasing</span><br>
        <a href="#showroom" class="btn btn-white scroll-showroom">Showroom</a>
        </span>
      </div>
    </div>
    
  </div>
</div>