<div class="slider-container">
  <div id="cl-slider" class="owl-carousel owl-theme">
    <div class="item" style="background-image: url(images/bmw.jpg);"></div>
    <div class="item" style="background-image: url(images/mercedes.jpg);"></div>
    <div class="item" style="background-image: url(images/1.jpg);"></div>
    <div class="item" style="background-image: url(images/2.jpg);"></div>
    <div class="item" style="background-image: url(images/3.jpg);"></div>
    <div class="item" style="background-image: url(images/4.jpg);"></div>
    <div class="item" style="background-image: url(images/5.jpg);"></div>
  </div>
</div>