<section id="statistik">
	<div class="parallax-window" data-parallax="scroll" data-image-src="images/mercedes.jpg">
	
		<div class="container">
			<div class="row">
				<div class="col-sm-3 margin-bottom30 text-center">
					<div class="fact-box">
						<h2>654</h2>                          
						<h5>Glade kunder</h5>
						<span class="border-line"></span>
					</div>
				</div><!--fact cols-->
				<div class="col-sm-3 margin-bottom30 text-center">
					<div class="fact-box">
						<h2>832</h2>                          
						<h5>Drømme biler solgt</h5>
						<span class="border-line"></span>
					</div>
				</div><!--fact cols-->
				<div class="col-sm-3 margin-bottom30 text-center">
					<div class="fact-box">
						<h2>800</h2>                          
						<h5>Klargøringer </h5>
						<span class="border-line"></span>
					</div>
				</div><!--fact cols-->
				<div class="col-sm-3 margin-bottom30 text-center">
					<div class="fact-box">
						<h2>750</h2>                          
						<h5>Kopper kaffe drukket</h5>
						<span class="border-line"></span>
					</div>
				</div><!--fact cols-->

			</div>
		</div>
		
	</div>
</section>