<article class="midGray" id="team">
    <div class="header">
        <div class="header-text">
            <span class="dominant">CAP</span><span class="elegant">team</span>
        </div>
        <span class="border-line"></span>
        <p class="header-description">
            Cap-Leasing har kontor i hjertet af København - Vi går op i at levere biler med sjæl til den kræsne forbruger for en overkommelig pris
        </p>
    </div>
    
	<div class="container">
        <div class="row">

            <div class="col-sm-4 margin-bottom30">
                <!--
                <div class="team-box">
                    <img src="images/mads.png" class="img-responsive" alt="">
                    
                    <ul class="social list-inline">
                        <li><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-linkedin-outline"></i></a></li>
                    </ul>
                    
                </div>
                -->
                <div class="team-desc">
                    <h4>Mads Fischer</h4>
                    <em>Salgsanvarlig</em><br>
                    <em>Cand. Merc. SMc</em><br>
                    <em>+45 53705222</em><br>
                    <em>mf@capleasing.dk</em><br>
                </div>
            </div><!--team col end-->
            <!--
            <div class="col-sm-3 margin-bottom30">
                <div class="team-desc">
                    <h4>Alexander Drew</h4>
                    <em>Kontrakt & hjemtagelse</em><br>
                    <em>Stud. Jur.</em><br>
                    <em>+45 42924116</em><br>
                    <em>ad@capleasing.dk</em>
                </div>
            </div>
            -->
            <!--team col end-->
            
            <div class="col-sm-4 margin-bottom30">
                <!-- 
                <div class="team-box">
                    <img src="images/alexander.jpg" class="img-responsive" alt="">   
                                       
                    <ul class="social list-inline">
                        <li><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-linkedin-outline"></i></a></li>
                    </ul>
                    
                </div>
                -->
                <div class="team-desc">
                    <h4>Lisbeth Petersen</h4>
                    <em>Bogholder</em><br>
                    <em>lp@capleasing.dk</em>
                </div>
            </div><!--team col end-->
            
            <div class="col-sm-4 margin-bottom30">
                <!--
                <div class="team-box">
                    <img src="images/alexander.jpg" class="img-responsive" alt="">   
                    <!--                    
                    <ul class="social list-inline">
                        <li><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-linkedin-outline"></i></a></li>
                    </ul>
                    
                </div>
                -->
                <div class="team-desc">
                    <h4>Taus Sø</h4>
                    <em>IT Ansvarlig</em><br>
                    <em>+45 31225701</em><br>
                    <em>ts@capleasing.dk</em>
                </div>
            </div><!--team col end-->
            
        </div>
    </div>
</article>