#priseksempel{
    .price-box {
		background: #444;
	}
	
	p.header-description {
		padding-bottom: 70px;
	}
	
	.car-container {
		height: 200px;
		.car-image {
			height: 200px;
			background-position: center;
			background-size: cover;
		}
	}
	
	.price-box .header h3 {
		padding: 12px 10px;
		margin-bottom: 0;
		position: relative;
		text-transform: uppercase;
		overflow: hidden;
		background: #474747;
		color: #fff;
	}
	
	.header.active h3 {
		color: #fff;
		background-color: #00a99d;
	}
	
	.price-box .header .price {
		background: #000;
		padding: 15px 10px;
	}
	
	.price-box ul li {
		padding: 13px 0;
		border-bottom: 1px solid #555;
	}
	
	.list-unstyled {
		padding-left: 0;
		list-style: none;
	}
	
	div.header {
		margin-bottom: 0px;
	}
	
	.btn-white {
		color: #fff;
		padding: 0px;
		border: 1px solid #fff;
		padding: 10px 20px;
		background-color: transparent;
	}
	
	.btn {
	    text-transform: uppercase;
		font-weight: 400;
		font-size: 14px;
		letter-spacing: 2px;
		border-radius: 0px;
		font-family: 'Lato', sans-serif;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		transition: all .3s ease;
		
		&:hover {
			background-color: #ffffff;
			color: #00a99d;
		}
	}
	
	.price-footer {
		padding: 20px;
	}
	
	.btn-border-theme {
		&:hover {
			background-color: #00a99d;
			color: #ffffff;
			border: 1px solid #00a99d;
		}
		border: 1px solid #00a99d;
		color: #00a99d;
		padding: 10px 25px;
		background-color: transparent;
	}
}
