#team{
    .team-box {
        text-align: center;
        padding: 0px;
        background-color: #555;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        position: relative;
        .social {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 10px 5px;
            background-color: rgba(0,0,0,0.8);
            margin: 0;
        }
    }
    
    .team-desc {
        background-color: #222;
        padding: 20px;
        height: 170px;
        text-align: center;
        h4 {
            margin-bottom: 0px;
            text-transform: uppercase;
            font-weight: 400;
            margin-top: 15px;
        }
    }
    
    ul.social {
        a{
            color: #ffffff;
        }
    }
     
}
